manifest {
  author = 'Marco De La Pierre'
  name = 'illumina-nf'
  description = 'Illumina pipeline for DPIRD'
  homePage = 'https://github.com/marcodelapierre/illumina-nf'

  nextflowVersion = '!>=20.07.1'
}

resume = true

profiles {

zeus {
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
  }
  
  process {
    withName: 'merge|trim|map_contigs|map_refs'                                        { container = 'quay.io/biocontainers/bbmap:38.20--h470a237_0' }
    withName: 'qc_post_merge|qc_post_trim'                                             { container = 'quay.io/biocontainers/fastqc:0.11.7--4' }
    withName: 'assemble'                                                               { container = 'quay.io/biocontainers/spades:3.12.0--1' }
    withName: 'sam_post_map_contigs|sam_post_map_refs|sam_post_seqfile'                { container = 'dpirdmk/samtools:1.9' }
    withName: 'bcf_post_map_contigs|bcf_post_map_refs'                                 { container = 'dpirdmk/bcftools:1.8' }
    withName: 'blast|seqfile'                                                          { container = 'quay.io/biocontainers/blast:2.7.1--h96bfa4b_5' }
    withName: 'align'                                                                  { container = 'quay.io/biocontainers/mafft:7.407--0' }
  }
  singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
    cacheDir = "$NXF_HOME/singularity"
  }
  process.module = 'singularity'

  process {
    cpus = 1
    withName: 'assemble' {
      memory = '4GB'
    }
  }
}

nimbus {
  process.cache = 'lenient'

  process {
    withName: 'merge|trim|map_contigs|map_refs'                                        { container = 'quay.io/biocontainers/bbmap:38.20--h470a237_0' }
    withName: 'qc_post_merge|qc_post_trim'                                             { container = 'quay.io/biocontainers/fastqc:0.11.7--4' }
    withName: 'assemble'                                                               { container = 'quay.io/biocontainers/spades:3.12.0--1' }
    withName: 'sam_post_map_contigs|sam_post_map_refs|sam_post_seqfile'                { container = 'dpirdmk/samtools:1.9' }
    withName: 'bcf_post_map_contigs|bcf_post_map_refs'                                 { container = 'dpirdmk/bcftools:1.8' }
    withName: 'blast|seqfile'                                                          { container = 'quay.io/biocontainers/blast:2.7.1--h96bfa4b_5' }
    withName: 'align'                                                                  { container = 'quay.io/biocontainers/mafft:7.407--0' }
  }
  docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) -v /data/work:/data/work'
  }

  process {
    cpus = 1
    withName: 'assemble' {
      memory = '4GB'
    }
  }
}

}
